/* EventsScreen.css */
#eventMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px; /* Adjust the width as desired */
  height: 400px;
}

#eventMap img {
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height if needed */
}

.location-image1{
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  /* Adjust the positioning as needed */
}

.location-image2 {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* Adjust the positioning as needed */
}

.location-image3 {
  position: absolute;
  top: 15%;
  left: 53%;
  transform: translate(-20%, -50%);
  /* Adjust the positioning as needed */
}



.location-image {
  width: 100px; /* Adjust the image size as needed */
  height: 100px;
  cursor: pointer;
}

