#regsecId{
    background-image: url('C:/Users/Srikanth Nallavelli/Documents/register-bg.jpg');
}


.card {
    border-radius: 15px;
   
    background: rgba(0, 0, 0, 0.0);
   
    margin-right: auto;
    margin-left: auto;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;

}
