/* 
#userdashsecId{
    background-image: url('C:/Users/Srikanth Nallavelli/Documents/Userdash-bg.png');
 height: 1000px;
  width: 2000px;
} */
h2:hover {
    background-color: yellow;
  }
  @-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    width: 300px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  
  }
  .button {
    display: block;
  }